html {
  height: 100%;
}

/* Empty. Add your own CSS if you like */
.snap-drawers {
  background-color: rgba(0,0,0,0.8);
  width: 50%;
}

div[snap-drawers] li.item {
  background-color: rgba(255, 255, 255, 0.8);
}

.snap-content {
  background-color: #f1f6e0;
  height: 100%;
}

h5 {
  font-weight: bold;
  text-align: center;
}

.ks-container {
  margin-top: 44px;
  background-color: inherit;
  height: 100%;
}

.kind-story-card {
  word-wrap:;
}
.kind-story-card h5 {
  text-align: center;
}
.kind-story-card p {
  padding: 0 10px; 
  white-space: pre;
  max-height: 4.5em;
  overflow: hidden;
}
.ks-story-expanded p {
  max-height: 100%;
}
.post-button-bar {
  margin-top: 3%;
} 

.ks-add-story-card {
  background-color: #1c858e;
  margin-top: 10px;
}

.ks-add-story-text {
  background-color: inherit;
  display: block;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: #eee;
}


#post-reflectionarea {
  position: absolute;
  min-height: 50%;
}








