<div class="bar bar-header bar-royal">
  <h1 class="title">KindSpring App</h1>
  <button class="button button-small" ng-click="loginClicked()">Login</button>
</div>

<div class="ks-container list list-inset">
  <label class="item item-input">
    <input type="text" ng-model="username" placeholder="Username">
  </label>
  <label class="item item-input">
    <input type="password" ng-model="password" placeholder="Password">
  </label>
  <button class="button button-block button-positive" ng-click="login()">Log In</button>
</div>

<div class="bar bar-footer bar-energized">
  
</div>