<div class="bar bar-header bar-royal">
  <h1 class="title">KindSpring App</h1>
  <button class="button button-small" ng-click="loginClicked()">Logout</button>
</div>


<div class="ks-container list list-inset">
  <label class="item item-input item-floating-label">
    <span class="input-label">Title</span>
    <input type="text" ng-model="username" placeholder="Title, eg: Awesome Experience">
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">Reflection</span>
    <textarea rows="20" placeholder="Write a reflection!"></textarea>
  </label>
  <div class="button-bar post-button-bar">
    <a href="#" class="button button-balanced">Add Photo</a>
    <a href="#" class="button button-positive" ng-click="login()">Submit</a>
  </div>
</div>

<div class="tabs tabs-icon-only tabs-royal">
  <a href="#/home" class="tab-item"><i class="icon ion-home"></i></a>
  <a href="#/post" class="tab-item"><i class="icon ion-compose"></i></a>
  <a href="#/progress" class="tab-item"><i class="icon ion-ios7-pulse"></i></a>
  <a href="#/settings" class="tab-item"><i class="icon ion-gear-b"></i></a>
</div>


