<div class="ks-container">
  <h5>Progress for Vishesh Gupta</h5>
  <h2>graph goes here</h2>
  <div class="row">
    <!-- Previous Acts of Kindness -->
    <div class="col"> 
      <h5>Completed Acts!</h5>

      <ion-scroll>
        <ul class="list">
          <li class="item item-" ng-repeat="act in previousacts">{{act.name}}</li>
        </ul>
      </ion-scroll>
    </div>
    <!-- Suggestions for Acts of Kindness -->
    <div class="col">
      <h5> Suggestions for You </h5>

      <ion-scroll>
        <ul class="list">
          <li class="item" ng-repeat="act in previousacts">{{act.name}}</li>
        </ul>
      </ion-scroll>
    </div>
  </div>
</div>

