<div class="bar bar-header bar-royal">
  <h1 class="title">KindSpring App</h1>
  <button class="button button-small" ng-click="loginClicked()">Logout</button>
</div>

<div class="ks-container">
  <h5>Progress for Vishesh Gupta</h5>
  <h2>graph goes here</h2>
  <div class="row">
    <!-- Previous Acts of Kindness -->
    <div class="col"> 
      <div class="row" ng-repeat="act in previousacts"><button class="button button-outline button-royal">{{act.name}}</button></div>
    </div>
    <!-- Suggestions for Acts of Kindness -->
    <div class="col">
      <div class="row" ng-repeat="act in suggestedacts"><button class="button button-outline button-royal">{{act.name}}</button></div>
    </div>
  </div>
</div>

<div class="tabs tabs-icon-only tabs-royal">
  <a href="#/home" class="tab-item"><i class="icon ion-home"></i></a>
  <a href="#/post" class="tab-item"><i class="icon ion-compose"></i></a>
  <a href="#/progress" class="tab-item"><i class="icon ion-ios7-pulse"></i></a>
  <a href="#/settings" class="tab-item"><i class="icon ion-gear-b"></i></a>
</div>

