<div class="ks-container">
  <h3 style="margin-left: 3%;">Select a Challenge:</h3>
  <div class="list card" ng-repeat="chall in challenges track by $index | orderBy: 'end_date'">
    <div class="item item-body" ng-click="goToChallenge(chall.chall_id)">
      <h2>{{chall.name}}</h2>
      <p>{{daysRemaining(chall.end_date, chall.start_date)}}</p>
      <p> {{chall.MEM_CT}} members, {{chall.STORY_CT}} posts</p>
    </div>
    <div class="item tabs tabs-secondary tabs-icon-left">
      <a ng-href="#/challenge/{{chall.chall_id}}" class="tab-item">
        <i class="icon ion-bonfire"></i>
        Stories
      </a>
      <a ng-href="#/members/{{chall.chall_id}}" class="tab-item">
        <i class="icon ion-android-social"></i>
        Members
      </a>
      <a ng-href="#/ideas/{{chall.chall_id}}" class="tab-item">
        <i class="icon ion-lightbulb"></i>
        Ideas
      </a>
    </div>
  </div>
</div>





