/* Empty. Add your own CSS if you like */
body {
  background-color: rgb(251, 254, 242);
}

.ks-container {
  margin-top: 55px;
  margin-bottom: 55px;
}

.kind-story-card {
  background-color: #fff;
  border: 1px solid rgb(138,109,233);
  max-height: 138px;
  overflow: hidden;
}
.kind-story-card h5 {
  text-align: center;
}
.kind-story-card p {
  padding: 0 10px;
  white-space: pre;
}

.post-button-bar {
  margin-top: 3%;
}
